*
{
    margin: 0;
}
.sektion1
{
    display: flex;
    margin-left: 50px;
    gap: 100px;
    padding: 20px;
}
.sektion2
{
    display: flex;
    gap: 40px;
    color: rgb(63, 62, 62);
    margin-left: 100px;
}
.search
{
    margin-left: 300px;
}
.sekton3
{
   display: flex;
   margin-left: 100px;
   gap: 100px;
   margin-top: 100px;
}
   $mybackcolor:#217BF4;
    $maycolor: #FFFF;
    $maypadding:10px;
    $mayborder:10px;
.butons
{
    background-color: $mybackcolor;
    color: $maycolor;
    border-radius: $mayborder;
    text-align: center;
    padding: $maypadding;  
}
.buton1
{
    color: #217BF4;
    text-align: center;
    border-radius: $mayborder;
    padding: $maypadding;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 150px;
    box-shadow: 0px 0px 10px 0px;
}

.butons1
{
      background-color: rgb(201, 201, 201);
    color: black;
    border-radius: $mayborder;
    text-align: center;
    padding: $maypadding;  
    margin-left: 20px;
}
.sektion4
{
    display: flex;
    margin-left: 100px;
    gap: 200px;
}

.sektion6flexbox
{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px;
    border-radius: $mayborder;
    width: 350px;
    height: 120px;
}
.sektion6flex
{
    display: flex;
    margin-left: 250px;
    gap: 50px;
    margin-top: 50px;
}